@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Geometria-Medium";
  src: local("Geometria-Medium"), url(../fonts/Geo/Geometria-Medium.otf);
}
@font-face {
  font-family: "Geometria Regular";
  src: local("Geometria Regular"), url(../fonts/Geo/Geometria.otf);
}
header {
  border-bottom: 1px solid #ccc;
}
header table[name="menu-sm"] {
  margin-bottom: 0px;
}
header table[name="menu-sm"] td {
  border-top: 0px solid #ddd;
}
header table[name="menu-sm"] td[name="logo"] {
  border-right: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 25px;
}
header table[name="menu-sm"] td[name="top-link-flat"] {
  padding-top: 15px;
}
header table[name="menu-sm"] td[name="top-link-flat"] div.row div.top-menu-label {
  font-family: "Open Sans Regular";
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.row div.top-menu-label {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 11px;
  }
}
@media (min-width: 1000px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.row div.top-menu-label {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.row div.top-menu-label {
    font-size: 12px;
    padding-right: 5px;
  }
}
header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row {
  margin-top: 5px;
}
header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline {
  padding-left: 15px;
}
header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline li {
  font-family: "Open Sans Regular";
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 1px;
  }
}
@media (min-width: 1000px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 10px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1499px) {
  header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 14px;
    padding-right: 5px;
  }
}
header table[name="menu-sm"] td[name="top-link-flat"] div.top-menu-row ul.list-inline li a {
  color: #000;
}
header table[name="menu-sm"] td[name="bathroom"] {
  padding-top: 15px;
  background-color: #0fb1af;
  color: #fff;
}
header table[name="menu-sm"] td[name="bathroom"] div.row div.top-menu-label {
  font-family: "Open Sans Regular";
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="menu-sm"] td[name="bathroom"] div.row div.top-menu-label {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 11px;
  }
}
@media (min-width: 1000px) {
  header table[name="menu-sm"] td[name="bathroom"] div.row div.top-menu-label {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="menu-sm"] td[name="bathroom"] div.row div.top-menu-label {
    font-size: 12px;
    padding-right: 5px;
  }
}
header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row {
  margin-top: 5px;
}
header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline {
  padding-left: 15px;
}
header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline li {
  font-family: "Open Sans Regular";
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 1px;
  }
}
@media (min-width: 1000px) {
  header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 10px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1499px) {
  header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 14px;
    padding-right: 5px;
  }
}
header table[name="menu-sm"] td[name="bathroom"] div.top-menu-row ul.list-inline li a {
  color: #fff;
}
@media (max-width: 1200px) {
  header table[name="menu-sm"] td[name="calculate"] div.row div[name="btn-calculate"] img {
    max-width: 70%;
  }
}
header table[name="menu-sm"] td[name="calculate"] div.row div[name="phone"] {
  font-family: "Open Sans Regular";
  font-size: 18px;
}
@media (min-width: 1200px) {
  header table[name="menu-sm"] td[name="calculate"] div.row div[name="phone"] {
    padding-top: 20px;
  }
}
header table[name="menu-xs"] {
  margin-bottom: 0px;
}
header table[name="menu-xs"] td {
  border-top: 0px solid #ddd;
}
header table[name="menu-xs"] td[name="calculate"] a img {
  max-width: 50%;
}
header table[name="menu-xs"] td[name="btn-sub-menu"] {
  padding-top: 3px;
  color: #777;
  cursor: pointer;
}
header table[name="sub-menu-xs"] {
  display: none;
}
header table[name="sub-menu-xs"] td {
  border-top: 0px solid #ddd;
}
header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-label {
  font-family: "Open Sans Regular";
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-label {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 11px;
  }
}
@media (min-width: 1000px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-label {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-label {
    font-size: 12px;
    padding-right: 5px;
  }
}
header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row {
  margin-top: 5px;
}
header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline {
  padding-left: 15px;
}
header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline li {
  font-family: "Open Sans Regular";
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 1px;
  }
}
@media (min-width: 1000px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 10px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1499px) {
  header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline li {
    font-size: 14px;
    padding-right: 5px;
  }
}
header table[name="sub-menu-xs"] td[name="link-flat"] div.top-menu-row ul.list-inline li a {
  color: #000;
}
header table[name="sub-menu-xs"] td[name="link-bathroom"] {
  background-color: #0fb1af;
  color: #fff;
}
header table[name="sub-menu-xs"] td[name="link-bathroom"] div.row div.top-menu-label {
  font-family: "Open Sans Regular";
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.row div.top-menu-label {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 11px;
  }
}
@media (min-width: 1000px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.row div.top-menu-label {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.row div.top-menu-label {
    font-size: 12px;
    padding-right: 5px;
  }
}
header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row {
  margin-top: 5px;
}
header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline {
  padding-left: 15px;
}
header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline li {
  font-family: "Open Sans Regular";
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 999px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 9px;
    padding-right: 1px;
    padding-left: 1px;
  }
}
@media (min-width: 1000px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 10px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 12px;
    padding-right: 1px;
  }
}
@media (min-width: 1499px) {
  header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline li {
    font-size: 14px;
    padding-right: 5px;
  }
}
header table[name="sub-menu-xs"] td[name="link-bathroom"] div.top-menu-row ul.list-inline li a {
  color: #fff;
}
section[name="flat-slider-top"] {
  background-color: #eee;
}
@media (min-width: 1200px) {
  section[name="flat-slider-top"] div.container {
    width: 1000px;
  }
}
section[name="flat-slider-top"] div[name="title-section"] {
  font-family: "Geometria-Medium";
  font-size: 50px;
}
section[name="flat-slider-top"] p[name="sub-title"] {
  font-family: "Geometria Regular";
  font-size: 18px;
}
section[name="flat-slider-top"] div[name="preview-slider"] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 200px;
  width: 370px;
  height: 370px;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] {
  position: absolute;
  top: 20px;
  left: 370px;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="block-image"] {
  margin-top: 5px;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="big-image"] {
  padding-left: 0px;
  padding-right: 0px;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="big-image"] div[name="pult-image"] {
  padding-top: 10px;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="big-image"] div[name="pult-image"] i {
  color: #0fb1af;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="previe-image"] {
  padding-left: 0px;
  padding-right: 0px;
}
section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="title-image"] {
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Geometria Regular";
  font-size: 18px;
  text-decoration: underline;
}
@media (min-width: 768px) {
  section[name="flat-slider-top"] div[name="preview-slider"] div[name="block-slider"] div[name="small-image-2"] {
    margin-top: 10px;
  }
}
